<header>
  <div class="title">
    <div></div>
    <div><h2>Categories</h2></div>
    <div><%= link_to 'New', new_group_path %></div>
  </div>

  <%= render partial: 'shared/nav' %>
</header>

<div class="container">
  <%= render partial: 'groups/shared/group', collection: @groups %>
</div>
