<section class="splash">
  <div>
    <%= image_tag 'logo-dark.svg' %>
  </div>
  <div>
    <%= link_to 'Login', new_user_session_path, class:'login' %>
    <%= link_to 'Sign up', new_user_registration_path, class:'signup' %>
  </div>
</section>
