.payment {
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  gap: 10px;
}

.payment > div {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--text-color-1);
}

.payment .name {
  flex: 1;
}

.payment .name h4 {
  margin: 0;
}
