/* SPLASH */

.splash {
  width: 100%;
  height: 100%;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.splash > div:first-child {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash > div:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.splash a {
  width: 100%;
  max-width: 450px;
  margin: 5px;
  line-height: 50px;
  text-align: center;
  color: var(--text-color-1);
}

.splash .login {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 3px;
}
